@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes highlight {
  0%   { background-color: rgba(250, 204, 21, 0.4); }
  100% { background-color: transparent; }
}

.item-highlight {
  animation: highlight 2s ease-out;
}
